mission to mars

In [105]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests

In [106]:

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [/Users/henrywycislo/.wdm/drivers/chromedriver/mac64/94.0.4606.61/chromedriver] found in cache

In [113]:
mars_news_site = "https://mars.nasa.gov/news/"
# mars_page = requests.get(mars_news_site)
# mars_page
browser.visit(mars_news_site)
html = browser.html
soup = bs(html,'html.parser')

In [114]:
# soup = BeautifulSoup(mars_page.content,'html.parser')
# print(soup.prettify())

In [115]:
news_title = soup.find_all("div", class_="list_text")
news_title[0]

<div class="list_text"><div class="list_date">October 18, 2021</div><div class="content_title"><a href="/news/9057/hear-sounds-from-mars-captured-by-nasas-perseverance-rover/" target="_self">Hear Sounds From Mars Captured by NASA's Perseverance Rover</a></div><div class="article_teaser_body">Two microphones aboard the six-wheeled spacecraft add a new dimension to the way scientists and engineers explore the Red Planet.</div></div>

In [116]:
title= news_title[0].find("div",class_='content_title').get_text()
paragraph = news_title[0].find("div",class_='article_teaser_body').get_text()
print(title)
print(paragraph)

Hear Sounds From Mars Captured by NASA's Perseverance Rover
Two microphones aboard the six-wheeled spacecraft add a new dimension to the way scientists and engineers explore the Red Planet.

## Use Splinter to work with JPL website

In [117]:
# find featured image
target_site = 'https://spaceimages-mars.com'

In [118]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(target_site)

html = browser.html
soup = bs(html,'html.parser')

#featured_image_url = browser.find_by_partial_text('featured').value
featured_image_url = target_site + soup.find('img', class_='headerimage fade-in')['src']
print(featured_image_url)
browser.quit()

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [/Users/henrywycislo/.wdm/drivers/chromedriver/mac64/94.0.4606.61/chromedriver] found in cache

https://spaceimages-mars.comimage/featured/mars1.jpg

### get facts about mars use pandas to get data from https://galaxyfacts-mars.com

In [119]:
mars_facts = "https://galaxyfacts-mars.com"

In [120]:
mars_series = pd.read_html(mars_facts)
# There are two tables on this page, read the first one
mars_df = mars_series[1]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [121]:
# create html version of pandas table
html_table = mars_df.to_html(index=False, header=False, classes="table table-striped")

In [122]:
print(html_table)

<table border="1" class="dataframe table table-striped">
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [125]:
browser.quit()